
<div id=container>
<form (ngSubmit)="onSubmit()" #inscriptionForm1="ngForm">
 
    <label for="nom"> Nom </label>
    <input type="text" class="form-control" placeholder="nom.." required [(ngModel)]="utilisateur['nom']" name="nom" />
  <br/>
   
  
    <label> Prenom </label>
    <input type="text" class="form-control" placeholder="prenom.." required [(ngModel)]="utilisateur['prenom']" name="prenom" />

<br/>
   

  <label> Email </label>
  <input type="text" class="form-control" placeholder="email.." required [(ngModel)]="utilisateur['email']" name="email" />
<br/>
   



  <label> Mot de passe </label>
  <input type="password" class="form-control" placeholder="mot de passe.." required [(ngModel)]="utilisateur['password']" name="password" />

  <br/>
  

  <input type="submit" class="btn btn-outline-primary " value="Enregistrer"/>
</form>
<p> {{message}} </p>

</div>